<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="d-inline-block align-text-top mx-2"
        width="80"
        height="80"
        src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-png-transparent.png"
        alt="logo"
    /></a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link m-2 fw-b fs-4 dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Menu
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Hot Coffees</a></li>
          <li><a class="dropdown-item" href="#">Cold Coffees</a></li>
          <li><a class="dropdown-item" href="#">Bakery</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2 fw-b fs-4 active" aria-current="page" href="#"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link m-2 fw-b fs-4" href="#">Gift Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link m-2 fw-b fs-4" href="#"
          ><i class="fa-solid fa-location-dot"></i> Find Us</a
        >
      </li>
    </ul>
  </div>
</nav>
