<div class="col-3 m-2">
  <div class="card d-inline-block" style="width: 18rem">
    <img
      src="https://globalassets.starbucks.com/assets/f4fd128c834643fa8c74f4ae9f579013.jpg?impolicy=1by1_wide_topcrop_630"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-title fw-bold fs-3">Iced Caffè Latte</p>
      <p class="card-text">
        Our dark, rich espresso combined with milk and served over ice. A
        perfect milk-forward cooldown.
      </p>
      <p class="card-text fw-bold">130 calories, 11g sugar, 4.5g fat</p>
      <a href="#" class="btn btn-success">Full nutrition & ingredients list</a>
    </div>
  </div>
</div>
